*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(163, 163, 255);
}

#navbar .link{
    padding: 0.5em;
    color: black;
}

.title{
    display: flex;
    justify-self: center;
    font-size: 2.5em;
    margin: 0.3em;
}

#home p{
    font-size: 1.5em;
    margin: 0.5em;
}

#left-description,
#right-description{
    width: 25em;
}

#right-description{
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
}

#middle-description{
    display: flex;
    justify-self: center;
}

#itemContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5em;
}

.shopItem{
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cartItem{
    border: 2px solid black;
    border-radius: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: row;
}

.itemImg{
    width: 5em;
    height: auto;
}

.itemTitle{
    width: 15em;
    height: auto;
}

.stockFields{
    display: flex;
    gap: 0.2em;
}

.stockFields button{
    width: 1.5em;
}

input{
    display: flex;
    justify-content: center;
}