*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#navbar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(163, 163, 255);
}

#navbar .link{
    padding: 0.5em;
    color: black;
}

h1{
    display: flex;
    justify-self: center;
    font-size: 2.5em;
}

#home p{
    font-size: 1.5em;
    margin: 0.5em;
}

#left-description,
#right-description{
    width: 25em;
}

#right-description{
    display: flex;
    justify-self: flex-end;
    justify-content: flex-end;
}

#middle-description{
    display: flex;
    justify-self: center;
}